@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: Inter;
    src: url(./assets/fonts/Inter-VariableFont_slnt\,wght.ttf);
}

.container{
    max-width: 1280px !important;
}
.nav_top{
    color: var(--Text, #666);
    font-family: "Inter";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
}

.section1_list{
        li{

            a{
                color:  #222;
                text-align: right;
                font-family: "Inter";
                font-size: 14px;
                font-style: normal;
                font-weight: 500;
                line-height: 18px; /* 128.571% */
                
            }
            
        }
    }


.section1_list{
        li a:hover{
                border-radius: 10px;
                background:#008ECC; 
                color: white;    
        }
}


footer{
    background-color:#008ECC;
    margin-top: 120px;
}

.section-2_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;

}